/*-----===BACKGROUND===-----*/
body {
    background-color: var(--verde-pastel);
    transition: all .25s ease-in-out;
}

body.vez-x {
    background-color: var(--azul-pastel);
    transition: all .25s ease-in-out;
}

body.vez-circulo {
    background-color: var(--vermelho-pastel-escuro);
    transition: all .25s ease-in-out;
}

/*-----===MENSAGENS===-----*/
.mensagens {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-vitoria,
.msg-empate {
    transition: all .15s ease-in-out;
}

.msg-vitoria.active,
.msg-empate.active {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    z-index: 999;
}

.msg-vitoria.hidden,
.msg-empate.hidden {
    transform: scale(0);
    z-index: 100;
}

.msg-vitoria h1,
.msg-empate h1 {
    font-size: 172px;
    color: white;
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: #000;
}

/*---=DARK=---*/
.dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 998;
    display: block;
    transform: translateX(-100%);
}

/*---=HEADER=---*/
header {
    min-height: 50px;
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 200;
}

nav {
    height: 100%;
    width: 97.5%;
    display: flex;
    align-items: center;
    justify-content: start;
}

header a {
    font-size: 32px;
    color: black;
    text-decoration: none;
}


/*-----===MAIN===-----*/
main {
    height: 90%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

/*---=Recomeçar=---*/
.fim {
    min-height: 50px;
    height: 10%;
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.vitorias{
    height: 100%;
    min-width: 250px;
    width: 20%;
    position: absolute;
    left: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.vitorias-x{
    color: var(--azul-pastel);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}
.vitorias-o{
    color: var(--vermelho-pastel);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}
.vitorias-x, .vitorias-o{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 32px;
}

.recomecar {
    height: 100%;
    min-width: 250px;
    width: 15%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.recomecar-img-container {
    height: 100%;
    width: calc(90vh * 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.recomecar-img-container img {
    height: 75%;
    width: 75%;
    object-fit: cover;
}

.recomecar h2 {
    height: 100%;
    width: calc(100% - (90vh * 0.1));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.tempo {
    height: 100%;
    min-width: 150px;
    width: 5%;
    position: absolute;
    right: 2.5%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 32px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

/*---=MAPA=---*/
table {
    height: 87.5%;
    width: calc(90vh * 0.875);
    border-collapse: collapse;
    user-select: none;
}

tr:nth-child(2) {
    border-top: solid 20px black;
    border-bottom: solid 20px black;
}

td:nth-child(2) {
    border-left: solid 20px black;
    border-right: solid 20px black;
}

td {
    height: 33.33%;
    width: 33.33%;
    cursor: pointer;
}

.simbolo-container {
    height: 95%;
    width: 95%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo.ativado,
.x.ativado {
    height: 100%;
    width: auto;
    position: absolute;
    display: flex;
    object-fit: cover;
}

.circulo.desativado,
.x.desativado {
    display: none;
}


/*-----===ANIMAÇÃO===-----*/
@keyframes tremer {

    0%,
    100% {
        transform: translateX(0);
    }

    66.66% {
        transform: translateX(-20px);
    }

    33.33% {
        transform: translateX(20px);
    }
}

.tremer {
    animation: tremer .1s;
}


/*-----===RESPONSIVIDADE===-----*/
@media screen and (max-width: 1024px) {
    /*---=MENSAGENS=---*/
    .mensagens{
        height: auto;
    }
    .msg-vitoria h1, .msg-empate h1{
        font-size: 64px;
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: #000;
    }

    /*---=HEADER=---*/
    header, nav{
        min-height: 50px;
        justify-content: center;
    }

    /*---=MAIN=---*/
    main{
        height: calc(85% - 35px);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    /*---=ASIDE (.fim)=---*/
    .fim{
        height: 30%;
        position: relative;
        flex-wrap: wrap;
        place-self: start;
    }
    .vitorias, .recomecar, .tempo{
        height: 33%;
        width: 100%;
        position: relative;
        justify-content: center;
        left: 0;
        right: 0;
    }
    .vitorias{order: 2;}
    .tempo{order: 3; width: 49%;}
    
    .vitorias-x, .vitorias-o{
        width: 30%;
        justify-content: center;
    }

    .recomecar{
        order: 1;
        width: 49%;
        justify-content: space-between;
    }
    .recomecar-img-container{
        width: 30%;
    }
    .recomecar-img-container img{
        width: auto;
    }
    .recomecar h2{
        width: 70%;
    }

    /*---=MAPA=---*/
    table{
        height: auto;
        width: 90%;
        aspect-ratio: 1/1;
    }

    .simbolo-container{
        height: auto;
        aspect-ratio: 1/1;
    }

    /*---=FOOTER=---*/
    footer{
        height: 10%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .repositorio{
        position: relative;
    }
}