*{margin: 0; padding: 0;}

/*-----===VARIÁVEIS===-----*/
:root{
    --branco: #EDEDED;
    --preto: #303030;
    --amarelo-pastel: #FBFCC6;
    --azul-pastel: #2d76ca;
    --verde-pastel: #8FF299;
    --vermelho-pastel: #F39696;
    --vermelho-pastel-escuro: #d26666;

    font-family: 'Londrina Solid', cursive;
}

/*-----===BACKGROUND===-----*/
body{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*---=FOOTER=---*/
footer{
    min-height: 50px;
    height: 5%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.repositorio{
    position: absolute;
    left: 2.5%;
}
.repositorio a{
    font-size: 28px;
    color: black;
    text-decoration: underline;
}

.devs{
    min-width: 400px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.devs li a{
    font-size: 24px;
    color: black;
    text-decoration: underline;
}
